<div class="container m-3 p-3 bg-light ">
  <div class="row">
    <div class="col">
      <h2>Фамилия:</h2>
    </div>
    <div class="col">

      <input class="form-control mr-sm-2 " type="text" placeholder="Иванов" aria-label="lastname">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Имя:</h2>
    </div>
    <div class="col">


      <input class="form-control mr-sm-2 " type="text" placeholder="Иван" aria-label="name">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Отчество:</h2>
    </div>
    <div class="col">

      <input class="form-control mr-sm-2 " type="text" placeholder="Иванович" aria-label="surname" >
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Фото:</h2>
    </div>
    <div class="col">
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Описание:</h2>
    </div>
    <div class="col">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-success">Отправить</button>
    </div>
  </div>
</div>
