<!--<h1>Veteran#index</h1>
<p>Find me in app/views/veteran/index.html.erb</p>
---
layout: examples
title: Product example
extra_css: "product.css"
---
-->



<div class="row marg-veteran bg-light p-md-5 m-md-3">
   <div class="col">
    <% if @veteran.photo_url == nil %>
     <img src = "/assets/1.png" width = "300">
    <% end %>
   </div>
   <div class="col">
     <br><h2>Имя</h2></br>
     <br><h2>Фамилия</h2></br>
     <br><h2>Отчество</h2></br>
   </div>
   <div class="col ">
     <br><h2><%= @veteran.name%></h2></br>
     <br><h2><%= @veteran.lastname%></h2></br>
     <br><h2><%= @veteran.surname%></h2></br>
   </div>
</div>

<%# <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Скованные одной целью</h1>
=======
<div class="position-relative overflow-hidden p-3 p-md-2 m-md-3 text-left bg-light">
  <div class="col-md-5 p-lg-6 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Punny headline</h1>
>>>>>>> 3e45dfcb2afb6c4731aa72b9884d403bc7aa05ec
    <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>

  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div> %>


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-1 py-1">
      <h2 class="display-5">Медали и награды</h2>
      <p class="lead"></p>
    </div>
    <div class="bg-light shadow-sm mx-auto m-3 p-3" style="width: 80%; height: 300px; border-radius: 21px 21px 21px 21px;"></div>
  </div>
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-1 py-1">
      <h2 class="display-5">Где служил</h2>
      <p class="lead"></p>
    </div>
    <div class="bg-light shadow-sm mx-auto m-3 p-3" style="width: 80%; height: 300px; border-radius: 21px 21px 21px 21px;"></div>
  </div>

</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 -md-auto">
  <%# <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div> %>
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-1 py-1">
      <h2 class="display-5">Информация о ветеране</h2>
      <p class="lead"></p>
    </div>
    <div class="bg-light shadow-sm mx-auto m-3 p-3" style="width: 90%; height: 300px; border-radius: 21px 21px 21px 21px;"></div>
  </div>
</div>

<%# <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div> %>
