<div class="container w-50 p-3 mx-auto col-4 bg-light">
  <div class="row">
    <div class="col">
      <h2>Поиск по имени</h2>
      <form class="form-inline mt-2 mt-md-0 text-center">
        <input class="form-control mr-sm-2 text-center" type="text" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    </div>
    </div>
    <div class="row">
    <div class="col">
      <h2>Поиск по названию войска</h2>
      <form class="form-inline mt-2 mt-md-0 text-center">
        <input class="form-control mr-sm-2 text-center" type="text" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</div>
