<h1 class="m-3 p-3">Личный кабинет</h1>

<div>

  <a class="m-3 p-3">Имя Пользователя :</a>
  <a href="https://vk.com/id<%= @user.socialid %>"><%= @user.name %></a>
</div>

<br>
<% if @user.socialtype == "vk" %>
  <a href="https://vk.com/id<%= @user.socialid %>" target="_blank">vk</a>
<% elsif @user.socialtype == "od" %>
  ....
<% end %>
<br>
Рефералы:
<% @user.children.each do |user| %>
  <%= link_to user.name, controller: "user", action: "show", id: user.id %>
<% end %>
