<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>

<%= @user.name %>
<br>
<% if @user.socialtype == "vk" %>
  <a href="https://vk.com/id<%= @user.socialid %>" target="_blank">vk</a>
<% elsif @user.socialtype == "od" %>
  ....
<% end %>
<br>
Рефералы:
<% @user.children.each do |user| %>
  <%= link_to user.name, controller: "user", action: "show", id: user.id %>
<% end %>
