<!-- VK Widget -->
<div id="vk_auth"></div>
<script type="text/javascript">
  VK.Widgets.Auth("vk_auth", {"authUrl":"https://roadofmemory.herokuapp.com/login/get_token/"});
</script>

<!-- OD Widget -->
<div id="od_auth"></div>
<script type="text/javascript">
  OD.Widgets.Auth("od_auth", {"authUrl":"https://roadofmemory.herokuapp.com/login/get_token_od/"});
</script>
