<script type="text/javascript" src="https://vk.com/js/api/openapi.js?167"></script>
<script type="text/javascript">
  VK.init({apiId: 7391635});
</script>

<!-- VK Widget -->
<div id="vk_auth"></div>
<script type="text/javascript">
  VK.Widgets.Auth("vk_auth", {"authUrl":"https://roadofmemory.herokuapp.com/login/get_token/"});
</script>

<script type="text/javascript" src="http://api.odnoklassniki.ru"></script>
<script type="text/javascript">
  OD.init({apiId: 512000514101);
</script>

<!-- OD Widget -->
<div id="od_auth"></div>
<script type="text/javascript">
  OD.Widgets.Auth("od_auth", {"authUrl":"https://roadofmemory.herokuapp.com/login/get_token_od/"});
</script>
